<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Admin">

	<resultMap type="AllMember" id="panelMemberResultSet">
		<id property="mno" column="MNO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userAddress" column="USER_ADDRESS"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="leaveDate" column="LEAVE_DATE"/>
		<result property="entDate" column="ENT_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="panelBirthday" column="PANEL_BIRTHDAY"/>
		<result property="panelGender" column="PANEL_GENDER"/>
		<result property="referPanelCode" column="REFER_PANELCODE"/>
		<result property="nominee" column="NOMINEE"/>
		<result property="panelLevel" column="PANELLEVEL_NAME"/>
		<result property="occupationNo" column="OCCUPATION_NAME"/>
		<result property="withdrawAccount" column="WITHDRAW_ACCOUNT"/>
		<result property="companyName" column="COMPANY_NAME"/> 
		<result property="cRegistrationNumber" column="C_REGISTRATION_NUMBER"/>
		<result property="panelRewordPoint" column="REWARD_POINT"/>
		<result property="researchResponseDate" column="RESEARCH_RESPONSE_DATE"/>
		<result property="cashoutAmount" column="CASHOUT_AMOUNT"/>
		<result property="ternaryCount" column="TERNARY_COUNT"/>
		<result property="changeName" column="CHANGE_NAME"/>
	</resultMap>
	
	<resultMap type="AllMember" id="newPanelResultSet">
		<id property="mno" column="MNO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userAddress" column="USER_ADDRESS"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="entDate" column="ENT_DATE"/>
		<result property="panelBirthday" column="PANEL_BIRTHDAY"/>
		<result property="panelGender" column="PANEL_GENDER"/>
	</resultMap>
	
	<resultMap type="PanelRewardHistory" id="PanelRewardHistoryResultMap">
		<id property="cashoutHistoryNo" column="CASHOUTHISTORY_NO"/>
		<result property="mno" column="MNO"/>
		<result property="cashoutAmount" column="CASHOUT_AMOUNT"/>
		<result property="account" column="WITHDRAW_ACCOUNT"/>
		<result property="applicantDate" column="CASHOUT_APPLICANT_DATE"/>
		<result property="confrimDate" column="CASHOUT_CONFIRM_DATE"/>
	</resultMap>
	
	<resultMap type="ResearchTarget" id="researchTargetResultMap">
		<id property="targetNo" column="TARGET_NO"/>
		<result property="targetGender" column="TARGET_GENDER"/>
		<result property="targetAgeRange" column="TARGET_AGERANGE"/>
		<result property="targetLocation" column="TARGET_LOCATION"/>
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="occupationNo" column="OCCUPATION_NO"/>
		<result property="researchStateNo" column="RESEARCH_STATE_NO"/>
	</resultMap>
	
	<resultMap type="TargetMember" id="targetMemberResultMap">
		<id property="mno" column="MNO"/>
		<result property="targetEmail" column="USER_EMAIL"/>
		<result property="age" column="AGE"/>
		<result property="targetGender" column="PANEL_GENDER"/>
		<result property="occupationNo" column="OCCUPATION_NO"/>
		<result property="locationNo" column="LOCATION_NO"/>
		<result property="attemptDate" column="ATTEMPT_DATE"/>
	</resultMap>
	
	<resultMap type="MailingList" id="mailingListResultMap">
		<id property="researchNo" column="RESEARCH_NO"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="researchEngagementGoals" column="RESEARCH_ENGAGEMENT_GOALS"/>
		<result property="researchStateNo" column="RESEARCH_STATE_NO"/>
		<result property="researchStatus" column="RESEARCH_STATUS"/>
	</resultMap>
	
	<resultMap type="MailingReceiver" id="mailingReceiverResultMap">
		<id property="mailingHistoryNo" column="MAILINGHISTORY_NO"/>
	</resultMap>
	
	<resultMap type="ResearchReport" id="researchReportResultMap">
		<id property="researchNo" column="RESEARCH_NO"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="startPeriod" column="START_PERIOD"/>
		<result property="endPeriod" column="END_PERIOD"/>
	</resultMap>
	
	<resultMap type="ResearchHistory" id="researchHistoryResultMap">
		<id property="researchHistoryNo" column="RESEARCHHISTORY_NO"/>
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="mno" column="MNO"/>
		<result property="researchDisposal" column="RESEARCH_DISPOSAL"/>
		<result property="researchTime" column="RESEARCH_TIME"/>
		<result property="rquestionNo" column="RQUESTION_NO"/>
		<result property="researchResponseDate" column="RESEARCH_RESPONSE_DATE"/>
		<result property="rquestionResponse" column="RQUESTION_RESPONSE"/>
	</resultMap>
	
	<resultMap type="RquestionNo" id="rquestionNoResultMap">
		<id property="rquestionNo" column="RQUESTION_NO"/>
		<result property="researchOrder" column="RESEARCH_ORDER"/>
	</resultMap>
	
	<resultMap type="ResearchGraphTemp" id="researchGraphTempResultMap">
		<id property="rquestionResponse" column="RQUESTION_RESPONSE"/>
		<result property="count" column="COUNT"/>
	</resultMap>
	
	<resultMap type="Question" id="questionResultMap">
		<id property="researchOrder" column="RESEARCH_ORDER"/>
		<result property="rquestionNo" column="RQUESTION_NO"/>
		<result property="rquestionContext" column="RQUESTION_CONTEXT"/>
	</resultMap>
	
	<resultMap type="Choice" id="choiceResultMap">
		<id property="rchoiceOrder" column="RCHOICE_ORDER"/>
		<result property="rchoiceContext" column="RCHOICE_CONTEXT"/>
	</resultMap>
	
	<resultMap type="ResearchOne" id="researchResultMap">
		<id property="researchNo" column="RESEARCH_NO"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="researchPerpose" column="RESEARCH_PERPOSE"/>
		<result property="researchEngagementGoals" column="RESEARCH_ENGAGEMENT_GOALS"/>
		<result property="targetGender" column="TARGET_GENDER"/>
		<result property="targetAgeRange" column="TARGET_AGERANGE"/>
		<result property="targetLocation" column="TARGET_LOCATION"/>
		<result property="researchPeriod" column="RESEARCH_PERIOD"/>
		<result property="mno" column="MNO"/>
	</resultMap>
	
	<sql id="searchUserType">
		<if test="userType != null">
			AND USER_TYPE = #{userType}
		</if>
	</sql>
	
	<sql id="searchPanelLevel">
		<if test="panelLevel != null">
			<if test="userType == '패널'">
				AND PANELLEVEL_NAME = #{panelLevel}
			</if>
		</if>
	</sql>
	
	<sql id="searchInputName">
		<if test="searchInput != null">
			<if test="userType == '패널'">
				AND USER_NAME LIKE '%' || #{searchInput} || '%'
			</if>
			<if test="userType == '기업'">
				AND COMPANY_NAME LIKE '%' || #{searchInput} || '%'
			</if>
		</if>
	</sql>
	
	<sql id="newPanelSearchInputName">
		<if test="searchInput != null">
			AND USER_NAME LIKE '%' || #{searchInput} || '%'
		</if>
	</sql>
	
	<select id="memberInfoManagement" resultMap="panelMemberResultSet">
		SELECT /*+ INDEX_ASC(M IDX_PANEL_ENTDATE)  */
        M.MNO, M.USER_ID, M.USER_PWD, M.USER_NAME, M.USER_ADDRESS, M.USER_PHONE, M.USER_EMAIL, M.USER_TYPE, TO_CHAR(M.LEAVE_DATE, 'YYYY-MM-DD') AS LEAVE_DATE, TO_CHAR(M.ENT_DATE, 'YYYY-MM-DD') AS ENT_DATE, TO_CHAR(M.MODIFY_DATE, 'YYYY-MM-DD') AS MODIFY_DATE, P.PANEL_BIRTHDAY, P.PANEL_GENDER, P.REFER_PANELCODE, P.NOMINEE, O.OCCUPATION_NAME, P.WITHDRAW_ACCOUNT, L.PANELLEVEL_NAME, C.COMPANY_NAME, C.C_REGISTRATION_NUMBER FROM MEMBER M
        LEFT JOIN PANEL P ON (P.MNO = M.MNO)
        LEFT JOIN PANELLEVEL L ON (P.PANELLEVEL_NO = L.PANELLEVEL_NO)
        LEFT JOIN CORP C ON (C.MNO = M.MNO)
        LEFT JOIN OCCUPATION O ON (P.OCCUPATION_NO = O.OCCUPATION_NO)
		WHERE CERTIFICATION = 'Y'
		AND USER_TYPE != '관리자'
		<include refid="searchUserType"/>
		<include refid="searchPanelLevel"/>
		<include refid="searchInputName"/>
		ORDER BY ENT_DATE DESC
	</select>
	
	<select id="getListCountPanel" resultType="_int">
		SELECT COUNT(*) FROM MEMBER M
		LEFT JOIN PANEL P ON (P.MNO = M.MNO)
        LEFT JOIN PANELLEVEL L ON (P.PANELLEVEL_NO = L.PANELLEVEL_NO)
        LEFT JOIN CORP C ON (C.MNO = M.MNO)
		WHERE CERTIFICATION = 'Y'
		AND USER_TYPE != '관리자'
		<include refid="searchUserType"/>
		<include refid="searchPanelLevel"/>
		<include refid="searchInputName"/>
	</select>
	
	<select id="selectMember" parameterType="_int" resultMap="panelMemberResultSet">
		SELECT NVL2((SELECT MAX(RESEARCH_RESPONSE_DATE) FROM RESEARCHHISTORY WHERE MNO = #{mno}), TO_CHAR((SELECT MAX(RESEARCH_RESPONSE_DATE) FROM RESEARCHHISTORY WHERE MNO = #{mno}), 'YYYY-MM-DD'), '참여 기록 없음') AS RESEARCH_RESPONSE_DATE, 
        NVL2((SELECT SUM(CO.CASHOUT_AMOUNT) FROM CASHOUTHISTORY CH LEFT JOIN CASHOUT CO ON(CH.CASHOUT_NO = CO.CASHOUT_NO) WHERE MNO = #{mno}), (SELECT SUM(CO.CASHOUT_AMOUNT) FROM CASHOUTHISTORY CH LEFT JOIN CASHOUT CO ON(CH.CASHOUT_NO = CO.CASHOUT_NO) WHERE MNO = #{mno}), 0) AS CASHOUT_AMOUNT, 
        PT.TERNARY_COUNT,
        M.MNO, M.USER_ID, M.USER_PWD, M.USER_NAME, M.USER_ADDRESS, M.USER_PHONE, M.USER_EMAIL, M.USER_TYPE, TO_CHAR(M.LEAVE_DATE, 'YYYY-MM-DD') AS LEAVE_DATE, TO_CHAR(M.ENT_DATE, 'YYYY-MM-DD') AS ENT_DATE, TO_CHAR(M.MODIFY_DATE, 'YYYY-MM-DD') AS MODIFY_DATE, P.PANEL_BIRTHDAY, P.PANEL_GENDER, P.REFER_PANELCODE, P.NOMINEE, O.OCCUPATION_NAME, P.WITHDRAW_ACCOUNT, L.PANELLEVEL_NAME, C.COMPANY_NAME, C.C_REGISTRATION_NUMBER, PR.REWARD_POINT, UF.CHANGE_NAME FROM MEMBER M
        LEFT JOIN PANEL P ON (P.MNO = M.MNO)
        LEFT JOIN PANELLEVEL L ON (P.PANELLEVEL_NO = L.PANELLEVEL_NO)
        LEFT JOIN OCCUPATION O ON (P.OCCUPATION_NO = O.OCCUPATION_NO)
        LEFT JOIN CORP C ON (C.MNO = M.MNO)
        LEFT JOIN PANELREWARD PR ON (PR.MNO = M.MNO)
        LEFT JOIN RESEARCHHISTORY RH ON (RH.MNO = M.MNO)
        LEFT JOIN PANELTERNARY PT ON(PT.MNO = M.MNO)
        LEFT JOIN UPLOADFILE UF ON (UF.MNO = C.MNO)
		WHERE CERTIFICATION = 'Y'
		AND M.MNO = #{mno}
	</select>
	
	<select id="getListCountPanelCashoutApplicant" resultType="_int">
		SELECT COUNT(*)
		FROM CASHOUTHISTORY
		WHERE CASHOUT_CONFIRM_DATE IS NULL
	</select>
	
	<select id="panelCashoutApplication" resultMap="PanelRewardHistoryResultMap">
		SELECT CH.CASHOUTHISTORY_NO, CH.MNO, C.CASHOUT_AMOUNT, P.WITHDRAW_ACCOUNT, TO_CHAR(CH.CASHOUT_APPLICANT_DATE, 'YYYY-MM-DD') AS CASHOUT_APPLICANT_DATE, CH.CASHOUT_CONFIRM_DATE
		FROM CASHOUTHISTORY CH
		JOIN PANEL P ON (P.MNO = CH.MNO)
		JOIN CASHOUT C ON (C.CASHOUT_NO = CH.CASHOUT_NO)
		WHERE CH.CASHOUT_CONFIRM_DATE IS NULL
		ORDER BY CASHOUT_APPLICANT_DATE ASC
	</select>
	
	<update id="cashoutPerson" parameterType="java.util.List">
		UPDATE CASHOUTHISTORY 
		SET CASHOUT_CONFIRM_DATE = SYSDATE
		WHERE CASHOUTHISTORY_NO IN 
		<foreach collection="list" item="item" open="(" close=")" separator=", " index="index">
			#{item}
		</foreach>
	</update>
	
	<select id="getListCountManageCashoutComplete" resultType="_int">
		SELECT COUNT(*)
		FROM CASHOUTHISTORY
		WHERE CASHOUT_CONFIRM_DATE IS NOT NULL
	</select>
	
	<select id="rewardCompleteHistoryList" resultMap="PanelRewardHistoryResultMap">
		SELECT CH.CASHOUTHISTORY_NO, CH.MNO, C.CASHOUT_AMOUNT, P.WITHDRAW_ACCOUNT, TO_CHAR(CH.CASHOUT_APPLICANT_DATE, 'YYYY-MM-DD') AS CASHOUT_APPLICANT_DATE, CH.CASHOUT_CONFIRM_DATE
		FROM CASHOUTHISTORY CH
		JOIN PANEL P ON (P.MNO = CH.MNO)
		JOIN CASHOUT C ON (C.CASHOUT_NO = CH.CASHOUT_NO)
		WHERE CH.CASHOUT_CONFIRM_DATE IS NOT NULL
		ORDER BY CASHOUT_APPLICANT_DATE ASC
	</select>

	<select id="getListCountNewPanel" resultType="_int">
		SELECT COUNT(DISTINCT(USER_ID))
		FROM MEMBER M
		JOIN PANEL P ON (P.MNO = M.MNO)
        LEFT JOIN RESEARCHHISTORY RH ON  (P.MNO = RH.MNO)
		WHERE M.CERTIFICATION = 'Y'
		AND P.PANELLEVEL_NO = 1
        AND RH.RESEARCH_NO =1
		<include refid="newPanelSearchInputName"/>
	</select>
	
	<select id="selectNewPanelList" resultMap="newPanelResultSet">
		SELECT
        DISTINCT(M.MNO),  M.USER_NAME, TO_CHAR(M.ENT_DATE, 'YYYY-MM-DD') AS ENT_DATE
        FROM MEMBER M
        JOIN PANEL P ON (P.MNO = M.MNO)
        LEFT JOIN RESEARCHHISTORY RH ON (RH.MNO = M.MNO)
		WHERE CERTIFICATION = 'Y'
        AND RESEARCH_NO =1
		AND PANELLEVEL_NO = 1
		<include refid="newPanelSearchInputName"/>
		ORDER BY ENT_DATE DESC
	</select>
	
	<select id="selectOneNewPanel" parameterType="_int" resultMap="newPanelResultSet">
		SELECT
        M.MNO,  M.USER_NAME, M.USER_ID, P.PANEL_GENDER, P.PANEL_BIRTHDAY, M.USER_PHONE, M.USER_EMAIL,
        M.USER_ADDRESS, TO_CHAR(M.ENT_DATE, 'YYYY-MM-DD') AS ENT_DATE
        FROM MEMBER M
        JOIN PANEL P ON (P.MNO = M.MNO)
		WHERE CERTIFICATION = 'Y'
		AND PANELLEVEL_NO = 1
		AND M.MNO = #{mno}
	</select>
	
	<select id="getListCountArrovalList" resultType="_int">
		SELECT COUNT(*)
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		WHERE RESEARCH_STATE_NO = 1
	</select>
	
	<resultMap type="map" id="approvalListMap">
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="researchEngagementGoals" column="RESEARCH_ENGAGEMENT_GOALS"/>
		<result property="researchPeriod" column="RESEARCH_PERIOD"/>
		<result property="mno" column="MNO"/>
		<result property="researchPerpose" column="RESEARCH_PERPOSE"/>
		<result property="researchReward" column="RESEARCH_REWARD"/>
		<result property="researchPrice" column="RESEARCH_PRICE"/>
		<result property="lastDate" column="LAST_DATE"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="researchReferReason" column="RESEARCH_REFERREASON"/>
	</resultMap>
	<select id="researchApprovalWaitList" resultMap="approvalListMap">
		SELECT *
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		WHERE RESEARCH_STATE_NO = 1
		ORDER BY R.RESEARCH_NO DESC
	</select>
	
	<resultMap type="map" id="researchApprovalDetailMap">
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="researchEngagementGoals" column="RESEARCH_ENGAGEMENT_GOALS"/>
		<result property="researchPeriod" column="RESEARCH_PERIOD"/>
		<result property="mno" column="MNO"/>
		<result property="researchPerpose" column="RESEARCH_PERPOSE"/>
		<result property="targetNo" column="TARGET_NO"/>
		<result property="targetGender" column="TARGET_GENDER"/>
		<result property="targetAgeRange" column="TARGET_AGERANGE"/>
		<result property="targetLocation" column="TARGET_LOCATION"/>
		<result property="occupationNo" column="OCCUPATION_NAME"/>
		<result property="additionaltEtc" column="ADDITIONAL_ETC"/>
		<collection property="questionList" column="RESEARCH_NO" ofType="ResearchQuestion" javaType="java.util.List">
			<result property="questionNo" column="RQUESTION_NO"/>
			<result property="questionFormNo" column="QUESTION_FORM_NO"/>
			<result property="rquestionContext" column="RQUESTION_CONTEXT"/>
			<result property="questionVideoLink" column="RQUESTION_VIDEOLINK"/>
			<result property="mediaExplain" column="MEDIA_EXPLAIN"/>
			<result property="questionOrder" column="RESEARCH_ORDER"/>
			<collection property="requestChoiceList" column="RQUESTION_NO" ofType="ResearchChoice" javaType="java.util.List">
				<result property="choiceNo" column="RCHOICE_NO"/>
				<result property="choiceOrder" column="RCHOICE_ORDER"/>
				<result property="choiceContext" column="RCHOICE_CONTEXT"/>
			</collection>
		</collection>
	</resultMap>
	
	<select id="researchApprovalDetail" parameterType="_int" resultMap="researchApprovalDetailMap">
		SELECT *
		FROM RESEARCH R
        JOIN RESEARCHTARGET RT ON (R.RESEARCH_NO = RT.RESEARCH_NO)
        JOIN RESEARCHQUESTION RQ ON (R.RESEARCH_NO = RQ.RESEARCH_NO)
        JOIN OCCUPATION O ON (RT.OCCUPATION_NO = O.OCCUPATION_NO)
        LEFT JOIN RESEARCHCHOICE RC ON (RC.RQUESTION_NO = RQ.RQUESTION_NO)
		WHERE R.RESEARCH_NO = #{researchNo}
		ORDER BY RQ.RQUESTION_NO ASC, RC.RCHOICE_NO ASC 
	</select>
	
	<resultMap type="UploadFile" id="questionUploadFile">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="rquestionNo" column="RQUESTION_NO"/>
	</resultMap>
	
	<select id="questionUploadFiles" resultMap="questionUploadFile" parameterType="_int">
		SELECT * FROM UPLOADFILE U
		JOIN RESEARCHQUESTION RQ ON (RQ.RQUESTION_NO = U.RQUESTION_NO)
		WHERE RQ.RQUESTION_NO = #{questionNo}
	</select>
	
	<resultMap type="UploadFile" id="choiceUploadFile">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="rchoiceNo" column="RCHOICE_NO"/>
	</resultMap>
	
	<select id="choiceUploadFiles" resultMap="choiceUploadFile" parameterType="_int">
		SELECT * FROM UPLOADFILE U
		JOIN RESEARCHCHOICE RC ON (RC.RCHOICE_NO = U.RCHOICE_NO)
		WHERE RC.RCHOICE_NO = #{choiceNo}
	</select>
	
	<insert id="researchApproved" parameterType="ResearchState">
		INSERT INTO RSTATUSHISTORY VALUES
		(SEQ_RSTATUSHISTORY.NEXTVAL, #{researchNo}, 2, SYSDATE, NULL)
		<selectKey keyProperty="researchHistoryNo" resultType="_int" order="AFTER">
			SELECT SEQ_RSTATUSHISTORY.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="researchRefer" parameterType="ResearchState">
		INSERT INTO RSTATUSHISTORY VALUES
		(SEQ_RSTATUSHISTORY.NEXTVAL, #{researchNo}, 8, SYSDATE, #{referReason})
	</insert>
	
	<select id="getListCountReferList" resultType="_int">
		SELECT COUNT(*)
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		WHERE RESEARCH_STATE_NO = 8
	</select>
	
	<select id="researchReferList" resultMap="approvalListMap">
		SELECT *
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		WHERE RESEARCH_STATE_NO = 8
		ORDER BY RH.RESEARCH_CHANGEDATE DESC
	</select>

	<resultMap type="map" id="researchReferDetailMap">
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="researchEngagementGoals" column="RESEARCH_ENGAGEMENT_GOALS"/>
		<result property="researchPerpose" column="RESEARCH_PERPOSE"/>
		<result property="researchReferReason" column="RESEARCH_REFERREASON"/>
	</resultMap>
	
	<select id="researchReferDetail" parameterType="_int" resultMap="researchReferDetailMap">
		SELECT *
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		WHERE RESEARCH_STATE_NO = 8
        AND R.RESEARCH_NO = #{researchNo}
	</select>
	
	<insert id="insertConferenceHistory" parameterType="ResearchState">
		INSERT INTO CONFERENCEHISTORY VALUES
		(SEQ_CONFERENCEHISTORY.NEXTVAL, NULL, #{researchHistoryNo}, #{price})
	</insert>
	
	<insert id="insertReferConferenceHistory" parameterType="ResearchState">
		INSERT INTO CONFERENCEHISTORY VALUES
		(SEQ_CONFERENCEHISTORY.NEXTVAL, #{referReason}, #{researchHistoryNo}, #{price})
	</insert>
	
	<update id="updateResearchPrice" parameterType="ResearchState">
		UPDATE RESEARCH SET
		RESEARCH_PRICE = #{price},
		RESEARCH_REWARD = '50~1200'
		WHERE RESEARCH_NO = #{researchNo}
	</update>

	<select id="getListResearchWaitingPayment" resultType="_int">
		SELECT COUNT(*)
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		WHERE RESEARCH_STATE_NO IN (2, 10)
	</select>
	
	<resultMap type="map" id="waitingPaymentListMap">
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="researchEngagementGoals" column="RESEARCH_ENGAGEMENT_GOALS"/>
		<result property="researchPeriod" column="RESEARCH_PERIOD"/>
		<result property="mno" column="MNO"/>
		<result property="researchPerpose" column="RESEARCH_PERPOSE"/>
		<result property="researchReward" column="RESEARCH_REWARD"/>
		<result property="researchPrice" column="RESEARCH_PRICE"/>
		<result property="lastDate" column="LAST_DATE"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="researchReferReason" column="RESEARCH_REFERREASON"/>
		<result property="researchState" column="RESEARCH_STATE"/>
	</resultMap>
	<select id="researchWaitingPayment" resultMap="waitingPaymentListMap">
		SELECT *
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
        JOIN RESEARCHSTATE RS ON (RH.RESEARCH_STATE_NO = RS.RESEARCH_STATE_NO)
		WHERE RS.RESEARCH_STATE_NO IN (2, 10)
		ORDER BY RH.RESEARCH_CHANGEDATE DESC
	</select>
	
	<resultMap type="map" id="researchWaitPaymentDetailMap">
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="researchPerpose" column="RESEARCH_PERPOSE"/>
		<result property="researchEngagementGoals" column="RESEARCH_ENGAGEMENT_GOALS"/>
		<result property="targetGender" column="TARGET_GENDER"/>
		<result property="targetAgeRange" column="TARGET_AGERANGE"/>
		<result property="targetLocation" column="TARGET_LOCATION"/>
		<result property="researchPeriod" column="RESEARCH_PERIOD"/>
		<result property="researchPrice" column="RESEARCH_PRICE"/>
		<result property="conferencePrice" column="CONFERENCE_PRICE"/>
	</resultMap>
	
	<select id="researchWaitPaymentDetail" parameterType="_int" resultMap="researchWaitPaymentDetailMap">
		SELECT *
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
        JOIN RESEARCHTARGET RT ON (RT.RESEARCH_NO = R.RESEARCH_NO)
        LEFT JOIN CONFERENCEHISTORY CH ON (CH.RESEARCH_STATE_HISTORY_NO = RH.RESEARCH_STATE_HISTORY_NO)
		WHERE RESEARCH_STATE_NO IN (2, 10)
        AND R.RESEARCH_NO = #{researchNo}
	</select>
	
	<select id="getListCountPaymentCompletedList" resultType="_int">
		SELECT COUNT(*)
		FROM BILLINGHISTORY
	</select>
	
	<resultMap type="map" id="paymentCompletedMap">
		<result property="billingHistoryNo" column="BILLINGHISTORY_NO"/>
		<result property="paymentReason" column="PAYMENT_REASON"/>
		<result property="paymentAmount" column="PAYMENT_AMOUNT"/>
		<result property="paymentDate" column="PAYMENT_DATE"/>
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="researchName" column="RESEARCH_NAME"/>
	</resultMap>
	<select id="paymentCompletedList" resultMap="paymentCompletedMap">
		SELECT BH.BILLINGHISTORY_NO, BH.PAYMENT_REASON, R.RESEARCH_NAME,PAYMENT_AMOUNT, TO_CHAR(PAYMENT_DATE, 'YYYY-MM-DD') PAYMENT_DATE, BH.RESEARCH_NO, C.COMPANY_NAME
		FROM BILLINGHISTORY BH
		JOIN CORP C ON(C.MNO = BH.MNO)
		JOIN RESEARCH R ON(R.RESEARCH_NO = BH.RESEARCH_NO)
		ORDER BY BILLINGHISTORY_NO DESC
	</select>
	
	<resultMap type="map" id="billsDetailMap">
		<result property="qCount" column="QCOUNT"/>
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="researchEngagementGoals" column="RESEARCH_ENGAGEMENT_GOALS"/>
		<result property="paymentAmount" column="PAYMENT_AMOUNT"/>
	</resultMap>
	
	<select id="billsDetail" parameterType="_int" resultMap="billsDetailMap">
		SELECT COUNT(*) QCOUNT, R.RESEARCH_NO, R.RESEARCH_ENGAGEMENT_GOALS, BH.PAYMENT_AMOUNT
		FROM RESEARCH R
		JOIN BILLINGHISTORY BH ON(BH.RESEARCH_NO = R.RESEARCH_NO)
		JOIN RESEARCHQUESTION RQ ON(RQ.RESEARCH_NO = R.RESEARCH_NO)
		WHERE BH.BILLINGHISTORY_NO = #{billingHistoryNo}
		GROUP BY R.RESEARCH_NO, R.RESEARCH_ENGAGEMENT_GOALS, BH.PAYMENT_AMOUNT
	</select>
	
	<select id="getListCountSurveyReconstructionList" resultType="_int"> 
		SELECT COUNT(*)
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
        JOIN RESEARCHSTATE RS ON (RH.RESEARCH_STATE_NO = RS.RESEARCH_STATE_NO)
		WHERE RS.RESEARCH_STATE_NO = 3
	</select>
	
	<resultMap type="map" id="surveyReconstructionMap">
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="changeDate" column="RESEARCH_CHANGEDATE"/>
		<result property="researchState" column="RESEARCH_STATE"/>
	</resultMap>
	
	<select id="surveyReconstructionList" resultMap="surveyReconstructionMap">
		SELECT R.RESEARCH_NO, C.COMPANY_NAME, R.RESEARCH_NAME, TO_CHAR(RH.RESEARCH_CHANGEDATE, 'YYYY-MM-DD') RESEARCH_CHANGEDATE, RS.RESEARCH_STATE
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
        JOIN RESEARCHSTATE RS ON (RH.RESEARCH_STATE_NO = RS.RESEARCH_STATE_NO)
		WHERE RS.RESEARCH_STATE_NO IN (3, 4, 9)
		ORDER BY RH.RESEARCH_CHANGEDATE DESC
	</select>
	
	<delete id="deleteDiscriminationChoice" parameterType="CorpResearch">
		DELETE FROM DISCRIMINATIONCHOICE
		WHERE DISCRIMINATION_QUESTIONNO IN (SELECT DISCRIMINATION_QUESTIONNO FROM DISCRIMINATIONQUESTION WHERE RESEARCH_NO = #{researchNo})
	</delete>
	
	<delete id="deleteDiscriminationQuestion" parameterType="CorpResearch">
		DELETE FROM DISCRIMINATIONQUESTION
		WHERE RESEARCH_NO = #{researchNo}
	</delete>
	
	<update id="reconstruction" parameterType="ResearchQuestion">
		UPDATE RESEARCHQUESTION SET
		RQUESTION_CONTEXT = #{rquestionContext}
		WHERE RESEARCH_NO = #{researchNo}
		AND RESEARCH_ORDER = #{questionOrder}
	</update>
	
	<insert id="insertDiscriminationQuestion" parameterType="ResearchQuestion">
		INSERT INTO DISCRIMINATIONQUESTION VALUES
		(SEQ_DISCRIMINATIONQUESTION.NEXTVAL, #{rquestionContext}, #{questionOrder}, #{researchNo}, #{questionFormNo})
		<selectKey keyProperty="questionNo" resultType="_int" order="AFTER">
			SELECT SEQ_DISCRIMINATIONQUESTION.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertDiscriminationChoice" parameterType="ResearchChoice">
		INSERT INTO DISCRIMINATIONCHOICE VALUES
		(SEQ_DISCRIMINATIONCHOICE.NEXTVAL, #{choiceContext}, #{choiceOrder}, #{rquestionNo})
	</insert>
	
	<insert id="researchReconstruction" parameterType="ResearchState">
		INSERT INTO RSTATUSHISTORY VALUES
		(SEQ_RSTATUSHISTORY.NEXTVAL, #{researchNo}, 4, SYSDATE, NULL)
		<selectKey keyProperty="researchHistoryNo" resultType="_int" order="AFTER">
			SELECT SEQ_RSTATUSHISTORY.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<update id="updateResearchNamePanel" parameterType="CorpResearch">
		UPDATE RESEARCH SET
		RESEARCH_NAME_PANEL = #{researchName}
		WHERE RESEARCH_NO = #{researchNo}
	</update>
	
		<resultMap type="map" id="discriminationDetailMap">
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="researchName" column="RESEARCH_NAME_PANEL"/>
		<result property="conferenceContext" column="CONFERENCE_CONTEXT"/>
		<collection property="questionList" column="RESEARCH_NO" ofType="ResearchQuestion" javaType="java.util.List">
			<result property="questionNo" column="DISCRIMINATION_QUESTIONNO"/>
			<result property="rquestionContext" column="DISCRIMINATION_QUESTIONTITLE"/>
			<result property="questionOrder" column="DISCRIMINATION_QUESTIONORDER"/>
			<result property="correctAnswer" column="CORRECT_ANSWER"/>
			<collection property="requestChoiceList" column="DISCRIMINATION_QUESTIONNO" ofType="ResearchChoice" javaType="java.util.List">
				<result property="choiceNo" column="DISCRIMINATION_CHOICENO"/>
				<result property="choiceOrder" column="DISCRIMINATION_CHOICEORDER"/>
				<result property="choiceContext" column="DISCRIMINATION_CHOICECONTEXT"/>
			</collection>
		</collection>
	</resultMap>
	
	<select id="discriminationDetail" parameterType="_int" resultMap="discriminationDetailMap">
		SELECT *
		FROM RESEARCH R
		JOIN DISCRIMINATIONQUESTION DQ ON (R.RESEARCH_NO = DQ.RESEARCH_NO)
		JOIN DISCRIMINATIONCHOICE DC ON (DQ.DISCRIMINATION_QUESTIONNO = DC.DISCRIMINATION_QUESTIONNO)
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		JOIN RESEARCHSTATE RS ON (RS.RESEARCH_STATE_NO = RH.RESEARCH_STATE_NO)
		LEFT JOIN BILLINGHISTORY BH ON (BH.RESEARCH_NO = R.RESEARCH_NO)
        JOIN RESEARCHTARGET RT ON (RT.RESEARCH_NO = R.RESEARCH_NO)
        JOIN OCCUPATION O ON (O.OCCUPATION_NO = RT.OCCUPATION_NO)
        LEFT JOIN CONFERENCEHISTORY CH ON (CH.RESEARCH_STATE_HISTORY_NO = RH.RESEARCH_STATE_HISTORY_NO)
		WHERE R.RESEARCH_NO = #{researchNo}
		ORDER BY DQ.DISCRIMINATION_QUESTIONNO ASC, DC.DISCRIMINATION_CHOICENO ASC
	</select>
	
	<insert id="reconstructureRefer" parameterType="ResearchState">
		INSERT INTO RSTATUSHISTORY VALUES
		(SEQ_RSTATUSHISTORY.NEXTVAL, #{researchNo}, 4, SYSDATE, NUll)
		<selectKey keyProperty="researchHistoryNo" resultType="_int" order="AFTER">
			SELECT SEQ_RSTATUSHISTORY.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="reconstructureReferConferenceHistory" parameterType="ResearchState">
		INSERT INTO CONFERENCEHISTORY VALUES
		(SEQ_CONFERENCEHISTORY.NEXTVAL, #{referReason}, #{researchHistoryNo}, null)
	</insert>
	
	<select id="researchTargetMailing" parameterType="_int" resultMap="researchTargetResultMap">
		SELECT RT.TARGET_NO, RT.TARGET_GENDER, RT.TARGET_AGERANGE, RT.TARGET_LOCATION, RT.RESEARCH_NO, RT.OCCUPATION_NO, RSH.RESEARCH_STATE_NO
		FROM RESEARCHTARGET RT
		JOIN RSTATUSHISTORY RSH ON(RT.RESEARCH_NO = RSH.RESEARCH_NO)
		WHERE RT.RESEARCH_NO = #{researchNo}
		GROUP BY RT.TARGET_NO, RT.TARGET_GENDER, RT.TARGET_AGERANGE, RT.TARGET_LOCATION, RT.RESEARCH_NO, RT.OCCUPATION_NO, RSH.RESEARCH_STATE_NO
		HAVING MAX(RSH.RESEARCH_CHANGEDATE) = (SELECT MAX(RESEARCH_CHANGEDATE) FROM RSTATUSHISTORY WHERE RESEARCH_NO = #{researchNo})
	</select>
	
	<select id="selectTargetList" parameterType="TargetMember" resultMap="targetMemberResultMap">
		
			SELECT M.MNO, M.USER_EMAIL, EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM TO_DATE(P.PANEL_BIRTHDAY)) AS "AGE", P.PANEL_GENDER, P.OCCUPATION_NO,
	        RH.RQUESTION_RESPONSE AS "LOCATION_NO", AP.ATTEMPT_DATE
			FROM MEMBER M
			JOIN PANEL P ON(M.MNO = P.MNO)
			JOIN RESEARCHHISTORY RH ON(M.MNO = RH.MNO)
			JOIN RESEARCHQUESTION RQ ON(RH.RQUESTION_NO = RQ.RQUESTION_NO)
			JOIN ATTEMPTPARTICIPANT AP ON(M.MNO = AP.MNO)
			<![CDATA[
			WHERE M.MNO < 5000
			]]>
			AND EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM TO_DATE(P.PANEL_BIRTHDAY)) BETWEEN #{minAge} AND #{maxAge}
			AND RQ.RESEARCH_NO = 1
			<choose>
				<when test='targetGender == "M"'>
					AND P.PANEL_GENDER = 'M'
				</when>
				<when test='targetGender == "F"'>
					AND P.PANEL_GENDER = 'F'
				</when>
				<otherwise>
					AND 1=1
				</otherwise>
			</choose>
			<choose>
				<when test="targetLocation == 'city'">
					AND ((RQ.RESEARCH_ORDER = 8 AND (RH.RQUESTION_RESPONSE = '1' OR RH.RQUESTION_RESPONSE = '2' OR RH.RQUESTION_RESPONSE = '3' OR RH.RQUESTION_RESPONSE = '4' OR RH.RQUESTION_RESPONSE = '5' OR RH.RQUESTION_RESPONSE = '6' OR RH.RQUESTION_RESPONSE = '7')))
				</when>
				<when test="targetLocation == 'metropolitan'">
					AND ((RQ.RESEARCH_ORDER = 8 AND (RH.RQUESTION_RESPONSE = '1' OR RH.RQUESTION_RESPONSE = '2' OR RH.RQUESTION_RESPONSE = '8')))
				</when>
				<otherwise>
					AND RQ.RESEARCH_ORDER = 8
				</otherwise>
			</choose>
			<choose>
				<when test="occupationNo != 13">
					AND P.OCCUPATION_NO = #{occupationNo}
				</when>
				<otherwise>
					AND 1=1
				</otherwise>
			</choose>
			ORDER BY AP.ATTEMPT_DATE ASC
	</select>
	
	<select id="selectResearchEngagementGoals" parameterType="_int" resultType="_int">
		SELECT RESEARCH_ENGAGEMENT_GOALS FROM RESEARCH
		WHERE RESEARCH_NO = #{researchNo}
	</select>

	<!--여기서 담아준다--> 
	<resultMap type="ResearchQuestion" id="tsResearchDetail">
		<result property="questionNo" column="RQUESTION_NO"/>
		<result property="rquestionContext" column="RQUESTION_CONTEXT"/>
		<result property="questionOrder" column="RESEARCH_ORDER"/>
		<result property="questionFormNo" column="QUESTION_FORM_NO"/>
		<collection property="requestChoiceList" column="RQUESTION_NO" ofType="ResearchChoice" javaType="java.util.List">
			<result property="choiceNo" column="RCHOICE_NO"/>
			<result property="choiceOrder" column="RCHOICE_ORDER"/>
			<result property="choiceContext" column="RCHOICE_CONTEXT"/>
		</collection>
	</resultMap>
	
	<!-- 여기서는 조회만 할뿐 -->
	<select id="researchSelect" resultMap="tsResearchDetail">
		SELECT *
		FROM RESEARCH R
		JOIN RESEARCHQUESTION Q ON(R.RESEARCH_NO=Q.RESEARCH_NO)
		LEFT JOIN RESEARCHCHOICE C ON(Q.RQUESTION_NO=C.RQUESTION_NO)
		WHERE R.RESEARCH_NO=1
        ORDER BY Q.RQUESTION_NO ASC, C.RCHOICE_NO ASC
	</select>
	
	<delete id="tsDeleteChoice">
		DELETE FROM RESEARCHCHOICE
		WHERE RQUESTION_NO IN (SELECT RQUESTION_NO FROM RESEARCHQUESTION WHERE RESEARCH_NO = 1)
	</delete>
	
	<delete id="tsDeleteQuestion">
		DELETE FROM RESEARCHQUESTION
		WHERE RESEARCH_NO = 1
	</delete>
	
	<update id="tsUpdateQuestion" parameterType="ResearchQuestion">
		UPDATE RESEARCHQUESTION 
		SET RQUESTION_CONTEXT=#{rquestionContext}
		WHERE RQUESTION_NO = #{questionNo}
	</update>
	
	<insert id="insertChoice" parameterType="ResearchChoice">
		INSERT INTO RESEARCHCHOICE VALUES
		(SEQ_CHOICE.NEXTVAL, #{choiceContext}, #{rquestionNo}, #{choiceOrder})
	</insert>

	<resultMap type="UploadFile"  id="selectAudio">
		<result property="fileNo" column="FILE_NO"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="fileStatus" column="FILE_STATUS"/>
		<result property="researchNo" column="RESEARCH_NO"/>
	</resultMap>
	
	<resultMap type="PanelThanksSurvey" id="PanelThanksSurvey">
		<result property="mno" column="MNO"/>
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="rquestionNo" column="RQUESTION_NO"/>
		<result property="rquestionResponse" column="RQUESTION_RESPONSE"/>
		<result property="researchOrder" column="RESEARCH_ORDER"/>
		<result property="rquestionContext" column="RQUESTION_CONTEXT"/>
		<collection property="choiceList" column="RQUESTION_NO" ofType="ResearchChoice" javaType="java.util.List">
			<result property="choiceNo" column="RCHOICE_NO"/>
			<result property="choiceContext" column="RCHOICE_CONTEXT"/>
			<result property="choiceOrder" column="RCHOICE_ORDER"/>
		</collection>
	</resultMap>
	
	<select id="selectCountMailingList" resultType="_int">
		SELECT COUNT(*)
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		WHERE RESEARCH_STATE_NO IN (5, 6)
		
	</select>
	
	<select id="selectMailingList" resultMap="mailingListResultMap">
		SELECT R.RESEARCH_NO, C.COMPANY_NAME, R.RESEARCH_NAME, R.RESEARCH_ENGAGEMENT_GOALS, MAX(RSH.RESEARCH_STATE_NO) AS "RESEARCH_STATE_NO", MAX(RSH.RESEARCH_CHANGEDATE)
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RSH ON (RSH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		WHERE RESEARCH_STATE_NO IN (5, 6)
		GROUP BY R.RESEARCH_NO, C.COMPANY_NAME, R.RESEARCH_NAME, R.RESEARCH_ENGAGEMENT_GOALS
		ORDER BY R.RESEARCH_NO DESC
	</select>
	
	<insert id="insertMailingHistory" parameterType="_int">
		INSERT INTO MAILINGHISTORY VALUES (SEQ_MAILINGHISTORY.NEXTVAL, 1, #{researchNo}, SYSDATE)
	</insert>
	
	<insert id="insertRStatusHistory" parameterType="_int">
		INSERT INTO RSTATUSHISTORY VALUES (SEQ_RSTATUSHISTORY.NEXTVAL, #{researchNo}, 6, SYSDATE, NULL)
	</insert>
	
	<select id="selectMailingHistoryNo" parameterType="_int" resultType="_int">
		SELECT MAX(MAILINGHISTORY_NO) AS "MAILINGHISTORY_NO"
		FROM MAILINGHISTORY
		WHERE RESEARCH_NO = #{researchNo}
		GROUP BY RESEARCH_NO
	</select>
	
	<select id="selectMailingHistoryOrder" parameterType="_int" resultType="String">
      SELECT MAX(MAILING_ORDER) FROM MAILINGHISTORY
      WHERE RESEARCH_NO = #{researchNo}
   </select>
	
	<insert id="insertMailingHistoryRe" parameterType="_int">
		INSERT INTO MAILINGHISTORY VALUES (SEQ_MAILINGHISTORY.NEXTVAL, (SELECT MAX(MAILING_ORDER) FROM MAILINGHISTORY WHERE RESEARCH_NO = #{researchNo})+1, #{researchNo}, SYSDATE)
	</insert>
	
	<select id="selectMailingHistoryCurrentDate" parameterType="_int" resultType="String">
		SELECT TO_CHAR(MAX(MAILING_DATE), 'YYYY/MM/DD') FROM MAILINGHISTORY
    WHERE RESEARCH_NO = #{researchNo}
	</select>
  
	<insert id="insertMailingReceiver" parameterType="MailingReceiver">
		INSERT INTO MAILINGRECIEVER VALUES (SEQ_MAILINGRECEIVER.NEXTVAL, #{mailingHistoryNo}, #{mno})
	</insert>
  
	<select id="selectPanelTs" resultMap="PanelThanksSurvey">
		SELECT RQ.RQUESTION_NO, RQ.RESEARCH_ORDER, RH.RQUESTION_RESPONSE,RQ.RQUESTION_CONTEXT, RC.RCHOICE_ORDER, RC.RCHOICE_CONTEXT, RQ.QUESTION_FORM_NO
		FROM RESEARCHHISTORY RH
		JOIN RESEARCHQUESTION RQ ON (RH.RQUESTION_NO = RQ.RQUESTION_NO)
		LEFT JOIN RESEARCHCHOICE RC ON (RH.RQUESTION_NO = RC.RQUESTION_NO)
		WHERE RH.MNO=#{mno} AND RH.RESEARCH_NO =1
		ORDER BY RQ.RESEARCH_ORDER ASC, RC.RCHOICE_ORDER ASC
	</select> 
  
	<update id="uploadAudio"  parameterType="UploadFile">
		MERGE INTO UPLOADFILE
			USING DUAL
			ON(RESEARCH_NO=2)
			WHEN MATCHED THEN
				UPDATE SET CHANGE_NAME=#{changeName}
			WHEN NOT MATCHED THEN
				INSERT VALUES (SEQ_UPLOADFILE.NEXTVAL, 'pc환경조사',#{originName},#{changeName},#{filePath},SYSDATE,'Y', NULL, NULL, NULL, NULL, NULL, 2) 
	</update>
	
	<update id="updatePanelLevel" parameterType="_int">
		UPDATE PANEL SET PANELLEVEL_NO = 4 WHERE MNO = #{mno}
	</update>
	
	<select id="selectResearchPeriod" parameterType="_int" resultType="String">
		SELECT TO_CHAR(TO_DATE(SUBSTR(RESEARCH_PERIOD, 10, 8),'YY/MM/DD'),'YYYY/MM/DD') FROM RESEARCH
		WHERE RESEARCH_NO = #{researchNo}
	</select>
	
	<select id="selectResearchReportList" resultMap="researchReportResultMap">
		SELECT R.RESEARCH_NO, C.COMPANY_NAME, R.RESEARCH_NAME, TO_CHAR(TO_DATE(SUBSTR(R.RESEARCH_PERIOD, 0 ,8),'YY/MM/DD'),'YYYY/MM/DD') AS "START_PERIOD", TO_CHAR(TO_DATE(SUBSTR(R.RESEARCH_PERIOD, 10 ,8),'YY/MM/DD'),'YYYY/MM/DD') AS "END_PERIOD", MAX(RSH.RESEARCH_STATE_NO), MAX(RSH.RESEARCH_CHANGEDATE)
		FROM RESEARCH R
		JOIN RSTATUSHISTORY RSH ON(R.RESEARCH_NO = RSH.RESEARCH_NO)
		JOIN CORP C ON (R.MNO = C.MNO)
		WHERE RSH.RESEARCH_STATE_NO = 7
		GROUP BY R.RESEARCH_NO, C.COMPANY_NAME, R.RESEARCH_NAME, R.RESEARCH_PERIOD, RSH.RESEARCH_STATE_NO
	</select>
	
	<select id="selectResearchHistoryList" parameterType="_int" resultMap="researchHistoryResultMap">
		SELECT RH.RESEARCHHISTORY_NO, RH.RESEARCH_NO, RH.MNO, RH.RESEARCH_DISPOSAL, RH.RESEARCH_TIME, RH.RQUESTION_NO, RH.RESEARCH_RESPONSE_DATE, RH.RQUESTION_RESPONSE
		FROM RESEARCHHISTORY RH
		WHERE RESEARCH_NO = #{researchNo}
	</select>
	
	<select id="selectRquestionNoList" parameterType="_int" resultMap="rquestionNoResultMap">
		SELECT RQUESTION_NO, RESEARCH_ORDER
		FROM RESEARCHQUESTION
		WHERE RESEARCH_NO = #{researchNo}
	</select>
	
	<select id="selectResearchHistoryCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM RESEARCHHISTORY
		WHERE RESEARCH_NO = #{researchNo}
	</select>
	<select id="selectResearchHistoryCountList" parameterType="ResearchGraphTemp" resultMap="researchGraphTempResultMap">
		SELECT RQUESTION_RESPONSE, COUNT(*) AS "COUNT"
		FROM RESEARCHHISTORY
		WHERE RESEARCH_NO = #{researchNo}
		AND RQUESTION_NO = #{rquestionNo}
		GROUP BY RQUESTION_RESPONSE
		ORDER BY COUNT(*) DESC
	</select>
	
	<select id="selectQuestionList" parameterType="_int" resultMap="questionResultMap">
		SELECT RQ.RESEARCH_ORDER, RQ.RQUESTION_NO, RQ.RQUESTION_CONTEXT
		FROM RESEARCHQUESTION RQ
		WHERE RQ.RESEARCH_NO = #{researchNo}
	</select>
	
	<select id="selectChoiceList" parameterType="_int" resultMap="choiceResultMap">
		SELECT RCHOICE_ORDER, RCHOICE_CONTEXT
		FROM RESEARCHCHOICE
		WHERE RQUESTION_NO = #{researchNo}
	</select>
	
	<select id="selectResearchOne" parameterType="_int" resultMap="researchResultMap">
		SELECT R.RESEARCH_NO, R.RESEARCH_NAME, R.RESEARCH_PERPOSE, R.RESEARCH_ENGAGEMENT_GOALS, RT.TARGET_GENDER, RT.TARGET_AGERANGE, RT.TARGET_LOCATION, R.RESEARCH_PERIOD, R.MNO
		FROM RESEARCH R
		JOIN RESEARCHTARGET RT ON(R.RESEARCH_NO = RT.RESEARCH_NO)
		WHERE R.RESEARCH_NO = #{researchNo}
	</select>

  	<delete id="deletePanelThanksSurvey" parameterType="_int">
		DELETE FROM RESEARCHHISTORY WHERE MNO = #{mno} AND RESEARCH_NO =1
	</delete>
	
  	<delete id="deleteChoice">
		DELETE FROM RESEARCHCHOICE
		WHERE RQUESTION_NO =(SELECT RQUESTION_NO FROM RESEARCHQUESTION WHERE RESEARCH_NO=2)
	</delete>
	
	<update id="updateQuestion" parameterType="ResearchQuestion">
		MERGE INTO RESEARCHQUESTION
		USING DUAL
		ON(RESEARCH_NO=2)
		WHEN MATCHED THEN
			UPDATE SET RQUESTION_CONTEXT=#{rquestionContext},QUESTION_FORM_NO=#{questionFormNo}, MEDIA_EXPLAIN = #{mediaExplain}
		WHEN NOT MATCHED THEN
		INSERT VALUES (#{questionFormNo},SEQ_QUESTION.NEXTVAL,2,NULL,#{mediaExplain}, 1,#{rquestionContext})
	</update>
	
	<insert id="insertAudioChoice" parameterType="ResearchChoice">
		INSERT INTO RESEARCHCHOICE
		VALUES(SEQ_CHOICE.NEXTVAL, #{choiceContext}, (SELECT RQUESTION_NO FROM RESEARCHQUESTION WHERE RESEARCH_NO = 2), #{choiceOrder})
	</insert>
	
	<resultMap type="ResearchQuestion" id="pcQaMap">
		<result property="questionNo" column="RQUESTION_NO"/>
		<result property="rquestionContext" column="RQUESTION_CONTEXT"/>
		<result property="questionFormNo" column="QUESTION_FORM_NO"/>
		<result property="mediaExist" column="CHANGE_NAME"/>
		<result property="mediaExplain" column="MEDIA_EXPLAIN"/>
		<result property="questionVideoLink" column="RQUESTION_VIDEOLINK"/>
		<collection property="requestChoiceList" column="RQUESTION_NO" ofType="ResearchChoice" javaType="java.util.List">
			<result property="choiceNo" column="RCHOICE_NO"/>
			<result property="choiceOrder" column="RCHOICE_ORDER"/>
			<result property="choiceContext" column="RCHOICE_CONTEXT"/>
		</collection>
	</resultMap>
	
	<select id="selectPcQa" resultMap="pcQaMap">
		SELECT * 
	    FROM RESEARCHQUESTION Q
	    LEFT JOIN RESEARCHCHOICE R ON(Q.RQUESTION_NO =R.RQUESTION_NO)
        LEFT JOIN UPLOADFILE UF ON(UF.RESEARCH_NO = Q.RESEARCH_NO)
        LEFT JOIN RESEARCHQUESTION RQ ON (UF.RESEARCH_NO=RQ.RESEARCH_NO)
	    WHERE Q.RESEARCH_NO=2
	    ORDER BY R.RCHOICE_ORDER ASC
	</select>
	
	<update id="updateVideoQuestion">
		MERGE INTO RESEARCHQUESTION
		USING DUAL
		ON(RESEARCH_NO=2)
		WHEN MATCHED THEN
			UPDATE SET RQUESTION_CONTEXT=#{rquestionContext},QUESTION_FORM_NO=#{questionFormNo}, MEDIA_EXPLAIN = #{mediaExplain},RQUESTION_VIDEOLINK=#{questionVideoLink}
		WHEN NOT MATCHED THEN
		INSERT VALUES (#{questionFormNo},SEQ_QUESTION.NEXTVAL,2,#{questionVideoLink},#{mediaExplain}, 1,#{rquestionContext})
	</update>
	
	<select id="getPanelCount" resultType="_int">
		SELECT COUNT(*) FROM PANEL
	</select>
	
	<select id="getCorpCount" resultType="_int">
		SELECT COUNT(*) FROM CORP
	</select>
	
	<select id="getResearchCount" resultType="_int">
		SELECT COUNT(*) FROM RESEARCH
	</select>
	
	<select id="getListCountdisposalResponseList" resultType="_int">
		SELECT COUNT(*) FROM DISPOSALHISTORY
	</select>
	
	<resultMap type="map" id="disposalResponseListMap">
		<result property="disposalNo" column="DISPOSAL_NO"/>
		<result property="mno" column="MNO"/>
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="disposalReason" column="DISPOSAL_REASON"/>
	</resultMap>
	<select id="disposalResponseList" resultMap="disposalResponseListMap">
		SELECT DH.DISPOSAL_NO, RH.MNO, RH.RESEARCH_NO, DH.DISPOSAL_REASON
		FROM DISPOSALHISTORY DH
		JOIN RESEARCHHISTORY RH ON(RH.RESEARCHHISTORY_NO = DH.RESEARCHHISTORY_NO)
		ORDER BY DH.DISPOSAL_NO DESC
	</select>
</mapper>
