<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Corp">
	
	<resultMap type="com.opera.survway.corporation.model.vo.CorpMember" id="corpMemberResultSet">
		<id property="mno" column="MNO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userAddress" column="USER_ADDRESS"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="leaveDate" column="LEAVE_DATE"/>
		<result property="entDate" column="ENT_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="cRegistrationNumber" column="C_REGISTRATION_NUMBER"/>
	</resultMap>
	
	<resultMap type="CorpResearch" id="previousResearchResultMap">
		<id property="researchNo" column="RESEARCH_NO"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="researchPeriod" column="RESEARCH_PERIOD"/>
		<result property="researchPrice" column="RESEARCH_PRICE"/>
		<result property="isBill" column="ISBILL"/>
		<result property="researchState" column="RESEARCH_STATE"/>
	</resultMap>
	
	<select id="loginCheck" resultMap="corpMemberResultSet" parameterType="CorpMember">
		SELECT *
		FROM MEMBER M
		JOIN CORP C ON (M.MNO = C.MNO)
		WHERE USER_ID = #{userId}
		AND USER_TYPE = '기업'
		AND LEAVE_DATE IS NULL
		AND CERTIFICATION = 'Y'
	</select>
	
	<insert id="insertMember" parameterType="CorpMember">
		INSERT INTO MEMBER VALUES
		(SEQ_MNO.NEXTVAL, #{userId}, #{userPwd}, #{userName}, #{userAddress}, #{userPhone}, #{userEmail}, '기업', NULL, SYSDATE, SYSDATE, 'N', NULL)
		
		<selectKey keyProperty="mno" resultType="_int" order="AFTER">
			SELECT SEQ_MNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertCorp" parameterType="CorpMember">
		INSERT INTO CORP VALUES
		(#{mno}, #{companyName}, #{cRegistrationNumber})
	</insert>
	
	<insert id="insertCorpImage" parameterType="UploadFile">
		INSERT INTO UPLOADFILE VALUES
		(SEQ_UPLOADFILE.NEXTVAL, '사업자 등록증', #{originName}, #{changeName}, #{filePath}, SYSDATE, 'Y', #{mno}, NULL, NULL, NULL, NULL, NULL)
	</insert>
	<select id="selectPwd" parameterType="string" resultType="string">
		SELECT USER_PWD
		FROM MEMBER
		WHERE USER_ID = #{userId}
	</select>
	
	<insert id="insertTermsCorp" parameterType="CorpMember">
		INSERT ALL
			INTO TERMSHISTORY VALUES(SEQ_TERMSHISTORY.NEXTVAL, #{mno}, 1, 'Y')
			INTO TERMSHISTORY VALUES(SEQ_TERMSHISTORY.NEXTVAL, #{mno}, 2, 'Y')
			INTO TERMSHISTORY VALUES(SEQ_TERMSHISTORY.NEXTVAL, #{mno}, 3, 'Y')
			INTO TERMSHISTORY VALUES(SEQ_TERMSHISTORY.NEXTVAL, #{mno}, 4, 'Y')
			INTO TERMSHISTORY VALUES(SEQ_TERMSHISTORY.NEXTVAL, #{mno}, 5, 'Y')
		SELECT * FROM DUAL
	</insert>
	
	<insert id="insertResearch" parameterType="CorpResearch">
		INSERT INTO RESEARCH VALUES
		(SEQ_RESEARCH.NEXTVAL, #{researchName}, #{researchEngagementGoals}, #{researchPeriod}, #{mno}, #{researchPerpose}, '50~200', NULL, NULL)
		<selectKey keyProperty="researchNo" resultType="_int" order="AFTER">
			SELECT SEQ_RESEARCH.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertTarget" parameterType="CorpResearch">
		INSERT INTO RESEARCHTARGET VALUES
		(SEQ_RESEARCHTARGET.NEXTVAL, #{targetGender}, #{targetAgeRange}, #{targetLocation}, #{researchNo}, #{occupationNo}, #{additionaltEtc})
	</insert>
	
	<insert id="insertQuestion" parameterType="ResearchQuestion">
		INSERT INTO RESEARCHQUESTION VALUES
		(#{questionFormNo}, SEQ_QUESTION.NEXTVAL, #{researchNo}, 
		<if test="questionVideoLink != null">
			#{questionVideoLink}
		</if>
		<if test="questionVideoLink == null">
			NULL
		</if>
		,
		<if test="mediaExplain != null">
			#{mediaExplain}
		</if>
		<if test="mediaExplain == null">
			NULL
		</if> , #{questionOrder}, #{rquestionContext})
		<selectKey keyProperty="questionNo" resultType="_int" order="AFTER">
			SELECT SEQ_QUESTION.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertChoice" parameterType="ResearchChoice">
		INSERT INTO RESEARCHCHOICE VALUES
		(SEQ_CHOICE.NEXTVAL, #{choiceContext}, #{rquestionNo}, #{choiceOrder})
		<selectKey keyProperty="choiceNo" resultType="_int" order="AFTER">
			SELECT SEQ_CHOICE.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertImage" parameterType="UploadFile">
		INSERT INTO UPLOADFILE VALUES 
		(SEQ_UPLOADFILE.NEXTVAL, #{fileType}, #{originName}, #{changeName}, #{filePath}, SYSDATE, 'Y', NULL, NULL, NULL, #{rquestionNo}, NULL, NULL)
	</insert>
	
	<insert id="insertChoiceImage" parameterType="UploadFile">
		INSERT INTO UPLOADFILE VALUES 
		(SEQ_UPLOADFILE.NEXTVAL, #{fileType}, #{originName}, #{changeName}, #{filePath}, SYSDATE, 'Y', NULL, NULL, NULL, NULL, #{rchoiceNo}, NULL)
	</insert>
	
	<insert id="insertResearchState" parameterType="CorpResearch">
		INSERT INTO RSTATUSHISTORY VALUES 
		(SEQ_RSTATUSHISTORY.NEXTVAL, #{researchNo}, 1, SYSDATE, NULL)
	</insert>
	
	<select id="previousResearch" parameterType="SearchResearch" resultMap="previousResearchResultMap">
		SELECT R.RESEARCH_NO, R.RESEARCH_NAME, R.RESEARCH_PERIOD, NVL(R.RESEARCH_PRICE, 0) AS RESEARCH_PRICE, RS.RESEARCH_STATE, NVL2(BH.PAYMENT_AMOUNT, '결제 완료', '미결제') AS ISBILL 
        FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		JOIN RESEARCHSTATE RS ON (RS.RESEARCH_STATE_NO = RH.RESEARCH_STATE_NO)
		LEFT JOIN BILLINGHISTORY BH ON (BH.RESEARCH_NO = R.RESEARCH_NO)
		WHERE R.MNO = #{mno}
		<include refid="researchState"/>
		<include refid="researchName"/>
	</select>
	
	<sql id="researchState">
		<if test="researchState != null">
			AND RS.RESEARCH_STATE IN
			<foreach collection="researchState" item="item" index="index" separator=", " open="(" close=")">
				#{item}
			</foreach>
		</if>
	</sql>
	
	<sql id="researchName">
		<if test="researchName != null">
			AND R.RESEARCH_NAME LIKE '%' || #{researchName} || '%'
		</if>
	</sql>
	
	<select id="getListCountResearch" parameterType="SearchResearch" resultType="_int">
		SELECT COUNT(*)
		FROM RESEARCH R
		JOIN RSTATUSHISTORY RH ON (R.RESEARCH_NO = RH.RESEARCH_NO)
		JOIN RESEARCHSTATE RS ON (RS.RESEARCH_STATE_NO = RH.RESEARCH_STATE_NO)
		LEFT JOIN BILLINGHISTORY BH ON (BH.RESEARCH_NO = R.RESEARCH_NO)
		WHERE R.MNO = #{mno}
		<include refid="researchState"/>
		<include refid="researchName"/>
	</select>
	<resultMap type="CorpResearch" id="previousResearchDetailResult">
		<id property="researchNo" column="RESEARCH_NO"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="researchEngagementGoals" column="RESEARCH_ENGAGEMENT_GOALS"/>
		<result property="researchPeriod" column="RESEARCH_PERIOD"/>
		<result property="mno" column="MNO"/>
		<result property="researchPerpose" column="RESEARCH_PERPOSE"/>
		<result property="researchReward" column="RESEARCH_REWARD"/>
		<result property="researchPrice" column="RESEARCH_PRICE"/>
		<result property="isBill" column="ISBILL"/>
		<result property="researchState" column="RESEARCH_STATE"/>
		<result property="targetNo" column="TARGET_NO"/>
		<result property="targetGender" column="TARGET_GENDER"/>
		<result property="targetAgeRange" column="TARGET_AGERANGE"/>
		<result property="targetLocation" column="TARGET_LOCATION"/>
		<result property="occupationNo" column="OCCUPATION_NAME"/>
		<result property="additionaltEtc" column="ADDITIONAL_ETC"/>
		<result property="referReason" column="RESEARCH_REFERREASON"/>
		<result property="conferencePrice" column="CONFERENCE_PRICE"/>
		<result property="conferenceContext" column="CONFERENCE_CONTEXT"/>
	</resultMap>
	<select id="previousResearchDetail" parameterType="_int" resultMap="previousResearchDetailResult">
		SELECT R.RESEARCH_NO, R.RESEARCH_NAME, R.RESEARCH_ENGAGEMENT_GOALS, R.RESEARCH_PERIOD, R.MNO, 
			   R.RESEARCH_PERPOSE, R.RESEARCH_REWARD, NVL(R.RESEARCH_PRICE, 0) AS RESEARCH_PRICE, 
			   RS.RESEARCH_STATE, NVL2(BH.PAYMENT_AMOUNT, '결제 완료', '미결제') AS ISBILL,
			   RT.TARGET_NO, RT.TARGET_GENDER, RT.TARGET_AGERANGE, RT.TARGET_LOCATION,
			   O.OCCUPATION_NAME, RT.ADDITIONAL_ETC, RH.RESEARCH_REFERREASON, CH.CONFERENCE_PRICE, CH.CONFERENCE_CONTEXT
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		JOIN RESEARCHSTATE RS ON (RS.RESEARCH_STATE_NO = RH.RESEARCH_STATE_NO)
		LEFT JOIN BILLINGHISTORY BH ON (BH.RESEARCH_NO = R.RESEARCH_NO)
        JOIN RESEARCHTARGET RT ON (RT.RESEARCH_NO = R.RESEARCH_NO)
        JOIN OCCUPATION O ON (O.OCCUPATION_NO = RT.OCCUPATION_NO)
        LEFT JOIN CONFERENCEHISTORY CH ON (CH.RESEARCH_STATE_HISTORY_NO = RH.RESEARCH_STATE_HISTORY_NO)
		WHERE R.RESEARCH_NO = #{researchNo}
	</select>
	
	<select id="getQuestionCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*)
		FROM RESEARCHQUESTION
		WHERE RESEARCH_NO = #{researchNo}
	</select>
	
	<insert id="insertConferenceState" parameterType="ResearchState">
		INSERT INTO RSTATUSHISTORY VALUES 
		(SEQ_RSTATUSHISTORY.NEXTVAL, #{researchNo}, 10, SYSDATE, NULL)
		<selectKey keyProperty="researchHistoryNo" resultType="_int" order="AFTER">
			SELECT SEQ_RSTATUSHISTORY.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertConferenceHistory" parameterType="ResearchState">
		INSERT INTO CONFERENCEHISTORY VALUES
		(SEQ_CONFERENCEHISTORY.NEXTVAL, NULL, #{researchHistoryNo}, #{price})
	</insert>
	
	<insert id="insertPayment" parameterType="Payment">
		INSERT INTO BILLINGHISTORY VALUES
		(SEQ_BILLINGHISTORY.NEXTVAL, #{paymentReason}, #{paymentAmount}, #{paymentDate}, #{mno}, #{researchNo})
	</insert>
	
	<insert id="insertPaymentState" parameterType="Payment">
		INSERT INTO RSTATUSHISTORY VALUES 
		(SEQ_RSTATUSHISTORY.NEXTVAL, #{researchNo}, 3, SYSDATE, NULL)
	</insert>
	
	<insert id="insertRecontructionConferenceState" parameterType="ResearchState">
		INSERT INTO RSTATUSHISTORY VALUES 
		(SEQ_RSTATUSHISTORY.NEXTVAL, #{researchNo}, 9, SYSDATE, NULL)
		<selectKey keyProperty="researchHistoryNo" resultType="_int" order="AFTER">
			SELECT SEQ_RSTATUSHISTORY.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertRecontructionConferenceHistory" parameterType="ResearchState">
		INSERT INTO CONFERENCEHISTORY VALUES
		(SEQ_CONFERENCEHISTORY.NEXTVAL, #{referReason}, #{researchHistoryNo}, NULL)
	</insert>
	
	<insert id="recontructionApproved" parameterType="_int">
		INSERT INTO RSTATUSHISTORY VALUES 
		(SEQ_RSTATUSHISTORY.NEXTVAL, #{researchNo}, 5, SYSDATE, NULL)
	</insert>
</mapper>



































