@charset "UTF-8";
	#header {
		background: rgb(33, 31, 34);
		width: 100%;
		height: 70px;
	}
	#header_box {
		margin-left: auto;
		margin-right: auto;
		background: rgb(33, 31, 34);
		width: 1000px;
		height: 100%;
		position: relative;
	}
	#header_box > ul {
		list-style: none;
		margin-bottom: 0;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		width: 800px;
		height: 70px;
	}
	#header_box > ul > li{
		float: left;
		padding-top: 40px;
		text-align: center;
		padding-left:2%;
		padding-right:1%;
		color: #e2ceb8;
		
	}
	#bottom {
		width: 100%;
		height: 5px;
		background: rgb(160, 115, 66);
	}
	#bottom_box {
		margin-left: auto;
		margin-right: auto;
		width: 1000px;
		height: 100%;
		background: rgb(160, 115, 66);
	}
	#usermit {
		margin-bottom: 0;
		margin-top: 0;
		list-style: none;
		
	}
	#usermit > li {
		float: left;
		display: none;
		color: #e2ceb8;
		padding-top: 30px;
		padding-right: 40px;
	}
	#revenueManagement {
		margin-bottom: 0;
		margin-top: 0;
		list-style: none;
	}
	#revenueManagement > li{
		float: left;
		display: none;
		color: rgb(33, 31, 34);
		padding-top: 30px;
		padding-right: 40px;
	}
	#header_box > ul > li > a {
		text-decoration: none;
		color: rgb(33, 31, 34);
	}
	
	#bottom_box > ul > li > a {
		text-decoration: none;
		color: rgb(33, 31, 34);
	}
	#usermit > li > a:hover {
	color: #e2ceb8;
	text-decoration: underline;
	}
	#revenueManagement > li:hover {
	color: #e2ceb8;
	text-decoration: underline;
	}
	#header_box > ul > li > a {
		color: #e2ceb8;
	}