<?xml version="1.0" encoding="UTF-8"?>
<!-- XML 문서의 유효성 체크를 위해 필요한 부분 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.opera.survway.panel.model.vo.PanelMember" alias="PanelMember"/>
		<typeAlias type="com.opera.survway.panel.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.opera.survway.panel.model.vo.Research" alias="PanelResearch"/>
		<typeAlias type="com.opera.survway.corporation.model.vo.CorpMember" alias="CorpMember"/>
		<typeAlias type="com.opera.survway.panel.model.vo.Inquiry" alias="Inquiry"/>
		<typeAlias type="com.opera.survway.common.model.vo.AllMember" alias="AllMember"/>
		<typeAlias type="com.opera.survway.admin.model.vo.SearchMember" alias="SearchMember"/>
		<typeAlias type="com.opera.survway.admin.model.vo.PanelRewardHistory" alias="PanelRewardHistory"/>
		<typeAlias type="com.opera.survway.corporation.model.vo.Research" alias="CorpResearch"/>
		<typeAlias type="com.opera.survway.corporation.model.vo.ResearchChoice" alias="ResearchChoice"/>
		<typeAlias type="com.opera.survway.corporation.model.vo.ResearchQuestion" alias="ResearchQuestion"/>
		<typeAlias type="com.opera.survway.common.model.vo.UploadFile" alias="UploadFile"/>
		<typeAlias type="com.opera.survway.panel.model.vo.Reward" alias="Reward"/>
		<typeAlias type="com.opera.survway.panel.model.vo.ResearchQuestion" alias="PanelResearchQuestion"/>
		<typeAlias type="com.opera.survway.panel.model.vo.ResearchChoice" alias="PanelResearchChoice"/>
		<typeAlias type="com.opera.survway.panel.model.vo.ResearchAnswer" alias="PanelResearchAnswer"/>
		<typeAlias type="com.opera.survway.corporation.model.vo.SearchResearch" alias="SearchResearch"/>
		<typeAlias type="com.opera.survway.panel.model.vo.Faq" alias="Faq"/>
		<typeAlias type="com.opera.survway.common.model.vo.ResearchState" alias="ResearchState"/>
		<typeAlias type="com.opera.survway.corporation.model.vo.Payment" alias="Payment"/>
		<typeAlias type="com.opera.survway.admin.model.vo.ResearchTarget" alias="ResearchTarget"/>
		<typeAlias type="com.opera.survway.admin.model.vo.TargetMember" alias="TargetMember"/>
		<typeAlias type="com.opera.survway.panel.model.vo.AttemptInsert" alias="AttemptInsert"/>
		<typeAlias type="com.opera.survway.panel.model.vo.InsertAnswer" alias="InsertAnswer"/>
		<typeAlias type="com.opera.survway.admin.model.vo.PanelThanksSurvey" alias="PanelThanksSurvey"/>
		<typeAlias type="com.opera.survway.admin.model.vo.MailingList" alias="MailingList"/>
		<typeAlias type="com.opera.survway.admin.model.vo.MailingReceiver" alias="MailingReceiver"/>
		<typeAlias type="com.opera.survway.panel.model.vo.PanelSurvey" alias="PanelSurvey"/>
		<typeAlias type="com.opera.survway.panel.model.vo.PanelSurveyChoice" alias="PanelSurveyChoice"/>
		<typeAlias type="com.opera.survway.panel.model.vo.Vote" alias="Vote"/>
		<typeAlias type="com.opera.survway.panel.model.vo.SurveyReply" alias="SurveyReply"/>
		<typeAlias type="com.opera.survway.panel.model.vo.PanelResearchList" alias="PanelResearchList"/>
		<typeAlias type="com.opera.survway.admin.model.vo.ResearchReport" alias="ResearchReport"/>
		<typeAlias type="com.opera.survway.admin.model.vo.ResearchHistory" alias="ResearchHistory"/>
		<typeAlias type="com.opera.survway.admin.model.vo.RquestionNo" alias="RquestionNo"/>
		<typeAlias type="com.opera.survway.admin.model.vo.ResearchGraphTemp" alias="ResearchGraphTemp"/>
		<typeAlias type="com.opera.survway.admin.model.vo.Question" alias="Question"/>
		<typeAlias type="com.opera.survway.admin.model.vo.Choice" alias="Choice"/>
		<typeAlias type="com.opera.survway.admin.model.vo.ResearchOne" alias="ResearchOne"/>
		<typeAlias type="com.opera.survway.panel.model.vo.SurveyReward" alias="SurveyReward"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/panel-mapper.xml"/>
		<mapper resource="mappers/corp-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
	</mappers>
</configuration>