* {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    white-space: nowrap;
    font-family: 'Nanum Myeongjo', serif;
}

/*   회원가입 부분    */

#Register {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600; 
    width: 72.5%;
    margin-top: 50px;
    padding-left: 1%;
    padding-bottom: 0.3%;
    border-bottom: 1px solid #3e2d1a;
}

#Register, #Register>#road, #Register>#arrow {
    color: rgba(32, 45, 26, .45);
    font-family: 'Nanum Myeongjo', serif;
    font-size: 17px;
}

#Register>#road {
    margin-left: 55%;
}

#Register>#road>.arrow {
    padding: 0px 28px;
}

#Register, .road:nth-of-type(3), .arrow     {
    color: #3e2d1a;
}

/* 정보 입력 */
form>table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: separate;
    border-spacing: 0 25px;
    border-bottom: 1px solid #3e2d1a;
    padding: 30px 19%;
}

td>input, select {
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(33,31,34,0.45);
}

label {
    margin: 5px;
    font-family: sans-serif;
    font-size: 15px;
    margin-right: 25px;
}

td>input {
	font-family: sans-serif;
	padding: 5px;
    font-size: 20px;
}

td>select {
	font-family: sans-serif;
    font-size: 15px;
    padding: 5px;
    width: 125px;
    height: 40px;
}

option {
	font-family: sans-serif;
}

.end {
    position: relative;
    margin-bottom: 50px;
    float: right;
    left: -13.4%;
}

.end>input {
    border-radius: 3px;
    font-size: 15px;
    width: 110px;
    padding: 8px 0;
    margin: 20px 10px;
}

input[type=submit] {
    color: #a07342;
    border: 1px solid #a07342;
    background-color: #211f24;
}

input[type=reset] {
    border: 1px solid #a07342;
    background-color: #d9d9d9;
}

@media(min-width: 1600px) {
    #Register {
        width: 70%;
    }

    #Register>#road {
        margin-left: 61.7%;
    }

    #Register>#road>.arrow {
        padding: 0px 28px;
    }
}