@charset "UTF-8";

.footerMenu {
	width: 100%;
	border-bottom: 1px solid #b4b4b4;
}
.footerMenu a, .footerMenu a:hover {
	color: black;
	font-size: 16px;
	text-decoration: none;
}

.footerContainer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.2%;
	width: 60%;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1.5px;
}


#footerImg {
	width: 120px;
	vertical-align: bottom;
}